<app-header></app-header>
<div class="row" *ngIf="proyec">
    <div class="row-form_editarproyec">
        <div class="row-header">
            <i class="fa-solid fa-computer" style="font-size: 80px;"></i>
            <h2 style="margin-top: 15px;">Editar proyecto</h2>
        </div>
        <br>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <label for="nombreP">Nombre del proyecto</label>
            <br>
            <input placeholder="Nombre" type="text" name="nombreP" [(ngModel)]="proyec.nombreP" required>        
            <br><br>

            <label for="descripcionP">Descripcion del proyecto</label>
            <br>
            <input placeholder="Descripcion" type="text" name="descripcionP" [(ngModel)]="proyec.descripcionP" required>
            <br><br>

            <label for="imagenP">Imagen del proyecto</label>
            <br>
            <input placeholder="Url de la imagen" type="text" name="imagenP" [(ngModel)]="proyec.imagenP" required>
            <br><br>

            <button id="editar_proyec" type="submit">Actualizar</button>
        </form>
    </div>
</div>