body {
	margin: 0;
	padding: 0;
}

.row {
	--bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
	background: rgb(236, 240, 241);
	padding-left: 25px;
	padding-top: 20px;
}

.row-caja {
	padding: 10px;
}

.row-details {
	margin-left: 10px;
}

.row-details-summary {
	font-size: 25px;
	list-style: none;
	font-weight: 450;
}

.row-details-summary::before {
	content: "‣";
	margin-right: 10px;
	font-weight: bold;
}


.row-details[open] .row-details-summary::before {
	content: "-";
}


.row-details-summary-list {
	list-style: none;
	font-size: 20px;
	font-weight: 350;
	margin-top: 15px;
	margin-left: 5px;
}

.boton_nuevaedu {
	background: rgb(23, 32, 42);
	padding: 8px;
	color: rgb(255, 255, 255);
	border-radius: 5%;
}

.boton_editar {
	background: rgb(52, 152, 219);
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px;
	border: none;
	border-radius: 10%;
}

.boton_editar:hover {
	border: 1px solid black;
}

.boton_borrar {
	background: rgb(222, 42, 31);
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px;
	border: none;
	border-radius: 10%;
}

.boton_borrar:hover {
	border: 1px solid black;
}


