<app-header></app-header>
<div class="row">
    <div class="row-form_nuevaexp">
        <div class="row-header">
            <i class="fa-solid fa-house-laptop" style="font-size: 80px;"></i>
            <h2 style="margin-top: 15px;">Nueva experiencia</h2>
        </div>
        <br>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <label for="nombreE">Nombre de la empresa</label>
            <br>
            <input placeholder="Nombre" type="text" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>        
            <br><br>
            <label for="descripcionE">Descripcion de la tarea</label>
            <br>
            <input placeholder="Descripcion" type="text" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
            <br><br>
            <button id="agregar_exp" type="submit">Agregar</button>
        </form>
    </div>
</div>
